.left_nav{
  color:white;
  .nav_top{
    height: 80px;
    display: flex;
    align-items: center;
    img{
      width: 40px;
      height: 40px;
      margin:0 10px
    }
    span{
      font-size: 20px;
    }
  }
}